*{
    margin: 0;
    padding: 0;
}
.top{
    height: 50px;
    background-color: #303a40;
}
.top .d2{
    width: 1200px;
    height: 50px;
    /*border:1px solid red;*/
    margin:0 200px;
}
.top .i1{
    font-size:35px;
    color:white;
    font-family:"楷体";
}
.top .i2{
    color:#cccccc;
    padding-left:70px;
    list-style: none;
    line-height: 50px;
}
.top .i3{
    color:white;
    border:none;
    float:right;
    position: relative;
    top:20px;
    left: 0px;
    background-color: #303a40;
}
.middle{
    height: 830px;
}
.middle .d1{
    width: 1200px;
    height: 790px;
    /*border:1px solid #eaebec;*/
    margin:0 auto;
    position:relative;
    top:20px;
    left:0px;
}
.middle .left{
    width: 200px;
    height: 790px;
    border:1px solid #eaebec;
    float:left;
}
.left a{
    text-decoration:none;
    color:black;
}
a:hover{
    color:white;
}
ul .t3:hover{
    background-color: #fbb74c;
    color:white;
}
ul li{
    list-style: none;
    /*text-align: left;*/
    text-indent: 3em;
    vertical-align: middle;
}
.middle .t1{
    width: 200px;
    height: 40px;
    line-height:40px;
    font-size:20px;
    font-weight: bold;
    border-bottom:1px solid #eaebec;
    background:url(../img/收藏的职位_03.png) no-repeat 10% 50%;
}
.middle .t2{
    width: 200px;
    height: 56px;
    font-size:18px;
    font-weight: bold;
    line-height: 56px;
    border-bottom:1px solid #eaebec;
}
.middle .t3{
    width: 200px;
    height: 40px;
    line-height: 40px;
}
/*.middle .t4{*/
    /*width: 200px;*/
    /*height: 40px;*/
    /*color:white;*/
    /*line-height: 40px;*/
    /*background-color:#fbb74c;*/
/*}*/
.middle .right{
    width: 980px;
    height: 790px;
    border:1px solid #eaebec;
    float:right;
}
.middle .r1{
    width: 940px;
    height: 50px;
    margin:0 auto;
    border-bottom:1px solid #eaebec;
}
.middle .r2{
    width: 80px;
    height: 26px;
    padding-top:24px;
    border-bottom:1px solid #ff9900;
    font-weight:bold;
    font-size:15px;
 }
.r3{
    width: 940px;
    height: 142px;
    border-bottom:1px dashed #eaebec;
    background: url(../img/3.png) no-repeat 2% center;
}
.r4{
    width: 250px;
    height: 85px;
    /*border:1px solid red;*/
    margin-left:130px;
    float:left;
    padding:28px 1px;
}
.r4 p:nth-child(2){
    margin:15px 0px;
    font-size:16px;
}
.r4 p:nth-child(1){
    color:#fbb74c;
    font-weight: bold;
}
span{
    font-size:16px;
    color:red;
    font-weight: bold;
}
.r5{
    width: 250px;
    height: 88px;
    /*border:1px solid red;*/
    float:right;
    padding-top:28px;
}
.r5 p:first-child{
    margin-bottom: 50px;
    font-size:15px;
    color:#a8a2a6;
}
.r5 p:last-child{
    color:#fbb74c;
    font-size:18px;
}
.r6{
    text-align: center;
    padding-top: 38px;
}
.r6 a{
    text-decoration: none;
    border: 1px solid #f0f0f0;
    padding: 3px 5px;
    font-size: 12px;
    color: #9f9f9d;
}
.r6 a:nth-child(2){
    background-color: #fbb74c;
    color: white;
}
.r6 a:nth-child(5){
    border: none;
    position: relative;
    top: -2px;
    left: 0px;
}
.bottom{
    height: 200px;
    background-color: #303a40;
}
.bottom .b1{
    color:white;
    font-size:15px;
    text-align: center;
    padding-top:70px;
}